@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Parisienne|Raleway:400,500,600,300|Noto+Serif:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Questrial|Changa+One|Audiowide|Righteous|Orbitron:400,900,700,500|Rubik+Mono+One);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  box-sizing: border-box;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
  word-wrap: break-word;
}

html{
  width:100%;
  overflow-x:hidden;
}

body {
  font-family: 'Noto Sans Japanese', serif;
  width:100%;
  background:#bbbbbb;
  overflow-x:hidden;
}

section {
    position:relative;
    overflow:hidden;
	margin: 0 auto;
	padding: 120px 20px 120px 20px;
}

@media (min-width: 768px){
	section {
	  width: 720px;
	}
}
@media (min-width: 992px){
	section {
	  width: 900px;
	}
}
@media (min-width: 1200px) {
	section {
	  width: 1100px;
	}
}

h2{
	text-align: left;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 4px solid #FFF;
	font-family: 'Questrial', sans-serif;
	font-size: 3em;
	line-height: 1em;
	font-weight: bold;
	letter-spacing: -1px;
	color: #FFF;
}

p {
  margin-bottom: 12px;
}

#particles-js{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	right:0;
	z-index:-1;
}

/*よこ並べ外包設定*/
.row{
	margin-left:-1em;
	margin-right:-1em;
}

.row:before, .row:after{
  content: " ";
  display: table;
}
/*よこ並べ設定*/
.row div {
	/*position: relative;*/
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-3 {
	width: 100%;
}
@media (min-width: 768px){
	.col-3 {
		float: left;
		width: 33.33333333%;
	}
	.col-6 {
		float: left;
		width: 66.66666666%;
	}
}

/*ツイッタータイムライン設定*/
.twitter-timeline {
    width: 100% !important;
    border-radius:0 !important;
    box-shadow:none !important;
    border:1px solid #ccc !important;
    padding:10px;
    background:#fff
	border:0;
}
@media (min-width: 768px){
	.twitter-timeline-rendered {
	  height: 500px;
	}
}
@media (min-width: 992px){
	.twitter-timeline-rendered {
	  height: 430px;
	}
}
@media (min-width: 1200px) {
	.twitter-timeline-rendered {
	  height: 360px;
	}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#section1 {
    /*
    background-image:url("img/section1-bg.jpg");
    -moz-background-size:cover;
    background-size:cover;
    background-position:bottom;
    */
}

.home__main-icon {
	width:100%
	text-align: center;
	
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#section3 {
    text-align:center;
}

.member {
    margin-top:50px;
    width:160px;
    height:200px;
    background-image: url("img/member-bg.gif");
    text-align:center;
    color:#fff;
    display:none;
}

#section3 input#check-all:checked ~ .member{
	display:block;
}

#section3 input#check-grade1:checked ~ .member.grade1 {
    display:block;
}

#section3 input#check-grade2:checked ~ .member.grade2 {
    display:block;
}

#section3 input#check-director:checked ~ .member.director {
    display:block;
}

.member img {
    margin-top:10px;
    width:100px;
    height:100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.member p {
  margin-bottom: 5px;
}

.member .word{
    font-size:10px;
}

.member a{
    font-size:10px;
    color:#fff;
}

.grid{
	margin:auto 0;
}

/**/
#section3 input{
	display: none;
}
#section3 label{
	display: block;
	float: left;
	cursor: pointer;
	width: 80px;
	margin: 0;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
#section3 label:first-of-type{
	border-radius: 3px 0 0 3px;
}
#section3 label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
#section3 input[type="radio"]:checked + label {
	background-color: #a1b91d;
	color: #fff;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#section2 {
    text-align:center;
    /*background:#ff0;*/
}

.action {
    padding:5px;
    display:inline-block;
    position:relative;
    text-align:left;
    background:white;
    width:90%;
    border-radius:30px;
    margin-top:20px;
    margin-bottom:20px;
}

.action img {
    vertical-align: middle;
    margin-left:5px;
    display:inline-block;
    width:60px;
    height:60px;
}
.action .name {
    display:inline-block;
    vertical-align: middle;
    font-size:40px;

}

/*

 ///////////////////////////////////////////////////////////////////// IPHONE
@media screen and (min-width: 0px) and (max-device-width: 320px) {
    #section1 p {
        padding-left:20px;
        font-size:30px;
        color:White;
    }
    #section2 .action .sentence {
        font-size:20px;
    }
}
 ///////////////////////////////////////////////////////////////////// TAB
@media screen and (min-width: 321px) and (max-device-width: 920px) {
    h1 {
        font-size:15vh;
        color:Orange;
    }
    #section1 p {
        font-size:5vh;
        color:White;
    }
    .member {
        margin-right:25px;
        margin-left:25px;
    }

}
 ///////////////////////////////////////////////////////////////////// PC
@media screen and (min-width: 911px)  {
    h1 {
        font-size:15vh;
        color:Orange;
    }
    #section1 p {
        font-size:5vh;
        color:White;
    }
    .member {
        margin-right:25px;
        margin-left:25px;
    }

}

*/
