* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {

}

body {
	background-color: #cfcfcf;
}

div #title {
	text-align: center;
	font-size: 80px;
}

div #hoge {
	text-align: center;
	font-size: 55px;
}