* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	width: 1500px;
}

body {
	background-color: rgba(0,0,0,0.3);
	margin: 0;
}

div #title {
	text-align: center;
	font-size: 50px;
}

div #header h1{
	position: relative;
	width: 869px;
	left: 450px;
	bottom: 165px;
	font-size: 45px;
	padding-top: 50px;
	padding-bottom: 10px;
	font-family: arial black;
	line-height: 150px;
}

div #header img {
	position: relative;
	top: 190px;
	right: 500px;
	height: 300px;
	width: 300px;
}

#hoge {
	text-align: center;
	font-size: 55px;
	height: 200px;
	margin: 0px 0px 10px 50px;
}

#hoge ul{
	background-color: rgba(0,0,0,0); color: red;
	display: inline-block;
	font-family: Comic Sans MS;
	height: 80px;
	width: 1300px;
	border-radius: 10px 10px 10px 10px;
	transition: height ease 0.5s;
	overflow: hidden;	
}

#hoge ul:hover{
	background: rgba(0,0,0,1);
	color: white;
	height: 350px;
}

#hoge li{
	margin: 10px;
}

#hoge a{
	font-family: Comic Sans MS;
	color: orange;
}

/* 表示領域全体 */
#tabbox {
   margin: 100px; 
   padding: 0px; 
   width: 400px;
   font-size: 50px;
}

/* タブ部分 */
.tabs {
	display: inline-block;
	margin: 0px 0px 100px 0px; 
	padding: 0px;
	height: auto;
}

.tabs a {
   display: block;
   width: 5em; 
   float: left;
   margin: 0px 1px 0px 0px; 
   padding: 3px;
   text-align: center;
   border-radius: 10px 10px 10px 10px;
}

/* タブボタン */
.tabs a {
	background-color: black; color: white;
	text-decoration: none;
	font-family: Comic Sans MS;
}
p.tabs a:hover {
	background: rgba(0,0,0,0.7);
	color: orange;
}

/* タブ中身 */
.tab {
	position: relative;
	height: 800px;
	width: 1300px;
	overflow: auto;
	clear: left;
	margin: auto;
}

#tab1 #imgcolumn{	
	float: left;
	margin: 0px 0px 0px 100px;
  }


#tab1 #maincolumn{
	float: left;
	margin: 30px 0px 0px 100px;
}

.tab  p{
	margin: 0.5em;
}
