body{background-image: url("img/tile.png");}

img.D{user-select: none; /* CSS3 */
	 -moz-user-select: none; /* Firefox */
	 -webkit-user-select: none; /* SafariÅAChromeÇ»Ç« */
	 -ms-user-select: none; /* IE10Ç©ÇÁÇÁÇµÇ¢ */
	 
	 }

td.A{
	 
	 }

td.B{background-color: #ffffff;
	 
	 }

td.C{background-color: #333333;
	 
	 }