* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100vw;
    background: #aaa;
    font: sans-serif;
    overflow-x: hidden;
}

section {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px;
}

p { 
	padding: 0 100px 0 100px;
	line-height: 50px;
	font-size: 30px;
	font-family: font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
	font-weight: ;
}

h1 {
    text-align: center;
    padding: 0 0 30px 0;
    font-size: 30pt;
    font-family: ;
    font-weight: 1em;
    color: #fff;
    
}

h2 {
    text-align: left;
    position: relative;
    margin: 0 0 20px 0;
    padding: .25em 0 .3em .75em;
    font-size: 26pt;
    font-family: ;
    font-weight: ;
    color: #555;
    border-left: 8px solid #6C83EC;
    border-bottom: 10px solid #b6f0fc;
    width: 90%;
}

h3 {
	text-align: center;
	position: relative;
	margin: 30px 0 30px 40px;
	padding: 20px 0;
	font-size: 30pt;
	font-family: ;
	font-weight: ;
	color: #111;
}



ul.action li {
	display: inline-block;
	vertical-align: middle;
}

ul.action li img {
	margin-right: auto;
}

ul.waku li {
	display: inline-block;
	vertical-align: middle;
	
}

.waku {
	
	margin:0 20px;
	
}

.matrix {
	display: table-cell;
	width: 130px;
	padding: 9px;
	borer: 1px solid #666;
}

.comment {
	display: inline-block;
	vertical-align: middle;
}


#top {
	padding: 300px 30px 300px 30px;
	background: linear-gradient(-135deg, #95B19E, #F0C4F2)fixed;
}

#about {
	background: #aaa;
}

#movie {
	background: #ccc;
}

#content {
	background: #bbb;
}

#sam {
	width: 400px;
	opacity: 0.8;
}

#sam:hover {
	opacity: 1;
}

#movie_frame {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

#movie_table {
	width: 100%;
	height: 100%;
}

#movie_td {
	width: 100%;
	height: 100%;
}

#movie_link {
	text-decoration: none;
	color: #000;
	font-size: 20pt;
}

#batsu {
	position: relative;
	text-decoration: none;
	color: #ddd;
	font-size: 25pt;
}

@media screen and (max-width:320px) {
    
}
