* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    voice-volume:0;
    background: #ddf;
    overflow-x:hidden;
    font: 30px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
    position:relative;
}

#main {
    width:80%;
    right:0px;
    overflow:hidden;
    position:absolute;
}
@media only screen and (max-width: 768px) {
     
    #main{
        width:100%;
    }
 
} /* デバイスの横幅が320px以下の場合 */

#menue {
    background-color:white;
    position:absolute;
    left:0px;
    overflow:hidden;
    position:fixed;
    z-index:1;
    background-size:contain;
    color:blue;
}
@media only screen and (max-width: 768px) {
     
    #menue{
        display:none;
    }
 
} /* デバイスの横幅が320px以下の場合 */

section {
    width:100%;
}

#sec1 {
    background-image: url(http://www.html5-memo.com/sample/jq-books/11/img/overlay.png);
    position:relative;
    overflow:hidden;
}

#sec1 div:not(#cotent4){
    text-shadow: 2px 2px 1px #000,
    -2px 2px 1px #000,
    2px -2px 1px #000,
    -2px -2px 1px #000,
    -2px 0px 1px #000,
    0px -2px 1px #000,
    2px 0px 1px #000,
    0px 2px 1px #000;
}

#cotent1 {
    position:absolute;
    right:2%;
    top:2%;
    font: 45px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
    color:white;
}

#cotent2 {
    position:absolute;
    left:2%;
    top:2%;
    font: 80px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
    color:white;
}

#cotent3, #cotent3 img{
    position:absolute;
    left:0;
    bottom:0;
    margin:auto;
}

#cotent4 {
    position:absolute;
    font: 60px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
    right:2%;
    bottom:2%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: solid 10px #fff;
    background:white;
}

#cotent5 {
    position:absolute;
    text-align:center;
    width:200px;
    height:150px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}

#cotent5 img{
    width:100px;
    height:100px;
}

@media only screen and (max-width: 768px) {
     
    #cotent1{
        text-align:center;
        position:relative;
        font: 20px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
        left:auto;
        right:auto;
        top:auto;
        bottom:auto;
        margin-top:20px;
    }
    #cotent2{
        text-align:center;
        position:relative;
        font: 40px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
        left:auto;
        right:auto;
        top:auto;
        bottom:auto;
        margin-top:20px;
    }
    #cotent3, #cotent3 img{
        position:relative;
        width:100%;
    }
    #sec1{
        background-image:none;
    }
    #cotent4{
        font: 20px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
        width:90%;
        right:0;
        left:0;
        right:auto;
        text-align:center;
    }
    #cotent5 {
        display:none;
    }
 
} /* デバイスの横幅が320px以下の場合 */

#sec2 {
    background: url("http://techlabpaak.com/assets/themes/paak/img/bg/anchor_panel.jpg?1418034956") 50% 50% no-repeat;
    text-align:center;
    position:relative;
    overflow:hidden;
    height:90vh;
}

#sec2 h1{
        color:white;
        text-shadow: 2px 2px 1px #000,
            -2px 2px 1px #000,
            2px -2px 1px #000,
            -2px -2px 1px #000,
            -2px 0px 1px #000,
            0px -2px 1px #000,
            2px 0px 1px #000,
            0px 2px 1px #000;
    }

@media only screen and (max-width: 768px) {
     
    #sec2{
        background-size: cover;
        height:auto;
    }
} /* デバイスの横幅が320px以下の場合 */

h1 {
    margin:20px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////イベント*/

.event {
    font: 30px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
    color:#fff;
    display:inline-block;
    height:40%;
    width:45%;
    margin:1%;
    position:relative;
    z-index:1;
    cursor: pointer;
    overflow:hidden;
}

.event div {
    position:absolute;
    margin: auto;
    height:100px;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.event img{
    position:absolute;
    top:50%;
    left:50%;
    height:100%;
    width:100%;
    -moz-filter: brightness(30%);
    -webkit-filter: brightness(30%);
    filter:brightness(30%);
    transition:filter 1s, -webkit-filter 1s, height 1s, width 1s;
    z-index:-1;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.event:hover img{
    -moz-filter: brightness(100%);
    -webkit-filter: brightness(100%);
    filter:brightness(100%);
    height:110%;
    width:110%;
}


@media only screen and (max-width: 768px) {
     
    .event{
        height:200px;
        width:90%;
        text-shadow: 2px 2px 1px #000,
        -2px 2px 1px #000,
        2px -2px 1px #000,
        -2px -2px 1px #000,
        -2px 0px 1px #000,
        0px -2px 1px #000,
        2px 0px 1px #000,
        0px 2px 1px #000;
    }
    .event img{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        -moz-filter:none;
        -webkit-filter:none;
        filter:none;
        transition:none;
        z-index:-1;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }
    .event:hover img{
        -moz-filter:none;
        -webkit-filter:none;
        filter:none;
        height:100%;
        width:100%;
    }
} /* デバイスの横幅が320px以下の場合 */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////カレンダータブ*/

.calendar {
    right:0;
    left:0;
    margin:auto;
    margin-top:1%;
    margin-bottom:1%;
    height:10%;
    width:90%;
    table-layout: fixed;
    text-align:center;
}

.calendar label {
    width:8%;
    height:30px;
    display: block;
	float: left;
    background:#ccc;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
}

@media only screen and (max-width: 768px) {
     
    .calendar label{
        display: none;
    }
 
} /* デバイスの横幅が320px以下の場合 */



#sec2 input:checked+label{
    background:#fff;
}

.calendar input{
    display:none;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////カレンダーコンテンツ*/

.month-event {
    font: 50px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
    display:none;
    position:absolute;
    height:35%;
    width:95%;
    left:0px;
    right:0px;
    margin:auto;
    margin-top:30px;
    border-radius:10px ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: solid 10px #fff;
    color:white;
    text-shadow: 2px 2px 1px #000,
    -2px 2px 1px #000,
    2px -2px 1px #000,
    -2px -2px 1px #000;
}

.month-event p{
    font: 60px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
}

@media only screen and (max-width: 768px) {
     .month-event p{
        font: 30px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
    }
    .month-event{
        font: 20px "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
        height:auto;
        position:relative;
        display:inline-block;
        background-color: transparent;
        text-shadow: 0 0 0 #000;
        color:black;
    }
 
} /* デバイスの横幅が320px以下の場合 */

#sec2 input:checked+label+.month-event{
    display:inline-block;
    background-color: transparent;
}

/*////////////////////*/

#sec3 {
    text-align:center;
}

#sec3 h1{
        color:white;
        text-shadow: 2px 2px 1px #000,
            -2px 2px 1px #000,
            2px -2px 1px #000,
            -2px -2px 1px #000,
            -2px 0px 1px #000,
            0px -2px 1px #000,
            2px 0px 1px #000,
            0px 2px 1px #000;
}

.facebook{
    display:inline-block;
    margin:30px;
}

.facebook a{
    font-family:lucida,grande,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    color: #3B5998;
    text-decoration:none;
}


#player {
    position:absolute;
    display:block;
    top:0;
    bottom:0;
    left:-10%;;
    right:0;
    margin:auto;
    width:120%;
    height:120%;
    z-index:-1;
}

@media only screen and (max-width: 768px) {
     
    #player{
        display:none;
    }
 
} /* デバイスの横幅が320px以下の場合 */

#sec4 {
    background:white;
}